html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  color: #2d3748;
  background-color: #f7fafc;
  line-height: 1.4;
  font-family: merriweather, serif;
}

.menu-wrap {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}

.menu-wrap .toggler {
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
  z-index: 2;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 60px;
  width: 60px;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #38b2ac;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all ease 350ms;
  transition: all ease 350ms;
}

.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

.menu-wrap .hamburger > div:after {
  top: 10px;
}

/* Toggler animate */
.menu-wrap .toggler:checked + .hamburger > div {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  background-color: #fff;
}

/* Turn lines into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background-color: #fff;
}

/* Rotate on hover in checked state */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  background-color: #fff;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  visibility: hidden;
}

.menu-wrap .menu > div {
  background: #38b2ac;
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all ease 400ms;
  transition: all ease 400ms;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  -webkit-transition: opacity ease 400ms;
  transition: opacity ease 400ms;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 0.8rem;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: color 400ms ease;
  transition: color 400ms ease;
}

.menu-wrap .menu > div > div > ul > li > a:hover {
  text-decoration: underline;
}

/* Show menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  -webkit-transform: scale(2);
          transform: scale(2);
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  -webkit-transition: opacity ease 400ms;
  transition: opacity ease 400ms;
}

.container {
  padding: 70px 120px;
}

.title-info {
  margin-bottom: 4.5rem;
}

.main-title {
  font-size: 6.5rem;
  font-family: Merriweather, serif;
}

.main-sub-title {
  font-size: 1.7rem;
  font-family: Merriweather, serif;
  margin: 0 auto 0 5px;
}

.highlight {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(255, 255, 255, 0)), color-stop(50%, #38b2ac));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, #38b2ac 50%);
  width: 70%;
}

.content-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 80%;
      grid-template-columns: 20% 80%;
  grid-gap: 3rem;
}

.side-nav {
  padding-top: 20px;
}

.side-nav .nav-links {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 2rem;
}

.side-nav .nav-links a {
  padding-bottom: 6px;
  text-decoration: none;
  color: #2d3748;
  background: -webkit-gradient(linear, left top, left bottom, from(#38b2ac), to(#38b2ac));
  background: linear-gradient(to bottom, #38b2ac 0%, #38b2ac 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  -webkit-transition: background-size 0.2s;
  transition: background-size 0.2s;
}

.side-nav .nav-links a:hover {
  background-size: 4px 8px;
}

.cards-container-title {
  font-family: Merriweather, serif;
  font-size: 1.5rem;
  margin-bottom: 25px;
}

.cards-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  grid-gap: 2rem;
}

.card {
  background-color: #38b2ac;
  padding: 20px;
  height: 17rem;
  max-width: auto;
  text-align: center;
  -webkit-transition: ease 400ms;
  transition: ease 400ms;
  color: #b2f5ea;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr auto;
      grid-template-rows: 1fr auto;
}

.card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: ease 300ms;
  transition: ease 300ms;
  background-color: #2d3748;
  color: #a0aec0;
  cursor: pointer;
}

.card h3 {
  line-height: 1;
  font-weight: normal;
  font-size: 1.2rem;
}

.card:hover svg {
  fill: #a0aec0;
  -webkit-transition: ease 200ms;
  transition: ease 200ms;
  -webkit-transform: rotate(80deg) scale(1.3);
          transform: rotate(80deg) scale(1.3);
}

#highlight-link {
  color: #a0aec0;
}

svg {
  fill: #b2f5ea;
  height: 100px;
  width: 100px;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: ease 300ms;
  transition: ease 300ms;
}

.mobile-nav {
  display: none;
}

@media (max-width: 780px) {
  .container {
    padding: 40px;
    max-width: 780px;
    margin: 5px auto;
  }
  .title-info {
    padding: 5px;
    width: 90%;
    margin: 0 auto 20px;
  }
  .main-title {
    font-size: 4.6rem;
  }
  .content-container {
    grid-gap: 1.5rem;
  }
  .cards-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    grid-gap: 1rem;
    padding: 0 20px;
  }
  .side-nav {
    padding-top: 50px;
  }
}

.footer {
  text-align: left;
  margin: 80px auto 0;
  padding: 10px;
}

.footer-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 2rem;
}

.footer-info a {
  padding-bottom: 6px;
  text-decoration: none;
  color: #2d3748;
  background: -webkit-gradient(linear, left top, left bottom, from(#38b2ac), to(#38b2ac));
  background: linear-gradient(to bottom, #38b2ac 0%, #38b2ac 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  -webkit-transition: background-size 0.2s;
  transition: background-size 0.2s;
}

.footer-info a:hover {
  background-size: 4px 8px;
}

@media (max-width: 420px) {
  .container {
    padding: 20px;
    max-width: 420px;
    margin-top: 20px;
  }
  .title-info {
    text-align: center;
    padding: 5px;
    width: 90%;
    margin: 0 auto 10px;
  }
  .main-title {
    font-size: 3rem;
  }
  .main-sub-title {
    font-size: 1.2rem;
  }
  .content-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: none;
        grid-template-columns: none;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    grid-gap: 2.2rem;
  }
  .side-nav {
    padding-top: 10px;
  }
  .side-nav .nav-links {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 8px;
    text-align: center;
  }
  .side-nav .nav-links div {
    padding: 5px;
  }
  .cards-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    grid-gap: 1.5rem;
  }
  .mobile-nav {
    display: block;
  }
  .side-nav {
    display: none;
  }
  .cards-container-title {
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */